<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 에러가 발생하였습니다.
  body
    h1= status
    h2= message
    p
      a(href='/board/list') 홈페이지로 돌아가기